/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type='checkbox'] {
  -webkit-print-color-adjust: exact;
  background-origin: border-box;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-color: currentColor;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/**
 * Toggle Dark Mode
 */
.toggleWrapper input {
  left: -99em;
}

.toggleWrapper .toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleWrapper .toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-22.5deg);
}

.toggleWrapper .toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggleWrapper .toggle__handler .crater--1 {
  top: 9px;
  left: 5px;
  width: 2px;
  height: 2px;
}

.toggleWrapper .toggle__handler .crater--2 {
  top: 14px;
  left: 11px;
  width: 3px;
  height: 3px;
}

.toggleWrapper .toggle__handler .crater--3 {
  top: 5px;
  left: 12.5px;
  width: 4px;
  height: 4px;
}

.toggleWrapper .star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.toggleWrapper .star--1 {
  top: 5px;
  left: 17.5px;
  z-index: 0;
  width: 15px;
  height: 1.5px;
}

.toggleWrapper .star--2 {
  top: 9px;
  left: 14px;
  z-index: 1;
  width: 15px;
  height: 1.5px;
}

.toggleWrapper .star--3 {
  top: 13.5px;
  left: 20px;
  z-index: 0;
  width: 15px;
  height: 1.5px;
}

.toggleWrapper .star--4,
.toggleWrapper .star--5,
.toggleWrapper .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleWrapper .star--4 {
  top: 8px;
  left: 5.5px;
  z-index: 0;
  width: 1px;
  height: 1px;
  transform: translate3d(1.5px, 0, 0);
}

.toggleWrapper .star--5 {
  top: 16px;
  left: 8.5px;
  z-index: 0;
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(1.5px, 0, 0);
}

.toggleWrapper .star--6 {
  top: 18px;
  left: 14px;
  z-index: 0;
  width: 1px;
  height: 1px;
  transform: translate3d(1.5px, 0, 0);
}

.toggleWrapper input:checked + .toggle {
  background-color: #749dd6;
}

.toggleWrapper input:checked + .toggle::before {
  color: #749ed7;
}

.toggleWrapper input:checked + .toggle::after {
  color: #fff;
}

.toggleWrapper input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(20px, 0, 0) rotate(0);
}

.toggleWrapper input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

.toggleWrapper input:checked + .toggle .star--1 {
  width: 1px;
  height: 1px;
}

.toggleWrapper input:checked + .toggle .star--2 {
  width: 2px;
  height: 2px;
  transform: translate3d(-2.5px, 0, 0);
}

.toggleWrapper input:checked + .toggle .star--3 {
  width: 1px;
  height: 1px;
  transform: translate3d(-3.5px, 0, 0);
}

.toggleWrapper input:checked + .toggle .star--4,
.toggleWrapper input:checked + .toggle .star--5,
.toggleWrapper input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.toggleWrapper input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleWrapper input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleWrapper input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/*
 * Utilities
 */

.top-1\/2 {
  top: 50%;
}
